﻿@page "/superfoods"
@inject ISuperFoodService SuperFoodService

<h3>SuperFoodsComponent</h3>

@if(foods.Count == 0)
 {
    <span>Loading Super Foods...</span>
 }
else { 
    <table class="table">
        <thead>
            <tr>
                <th>Food Name</th>
                <th>Scientific Name</th>
                <th>Food Category</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var food in foods)
             {
                <tr>
                <td>@food.FoodName</td>
                <td>@food.ScientificName</td>
                <td>@food.FoodCategory</td>
                </tr>
             }
        </tbody>
    </table>
}



@code { 
    List<SuperFood> foods = new List<SuperFood>();


    protected override async Task OnInitializedAsync()
    {
        foods = await SuperFoodService.GetSuperFoods();
    }

}
